<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.aigou.mapper.BrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.itsource.aigou.domain.Brand">
       <!-- <id column="id" property="id" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="name" property="name" />
        <result column="englishName" property="englishName" />
        <result column="firstLetter" property="firstLetter" />
        <result column="description" property="description" />
        <result column="product_type_id" property="productTypeId" />
        <result column="sortIndex" property="sortIndex" />
        <result column="logo" property="logo" />-->
        <!--对象映射-->
        <result column="pid" property="productType.id"/>
        <result column="pname" property="productType.name"/>
    </resultMap>
    <sql id="brandproperties">
      t.id,
      t.createTime,
      t.updateTime,
      t.name,
      t.englishName,
      t.firstLetter,
      t.description,
      t.product_type_id,
      t.sortIndex,
      t.logo
    </sql>
    <sql id="whereSql">
        <where>
            <if test="query.keyword!=null and query.keyword!=''">
                and
                ( t.name like concat('%',#{query.keyword},'%')
                or
                t.englishName like concat('%',#{query.keyword},'%')
                or
                p.name like concat('%',#{query.keyword},'%')
                )
            </if>
        </where>
    </sql>


    <select id="queryPage" resultMap="BaseResultMap">

        SELECT <include refid="brandproperties"/>,p.id AS  pid, p.name as pname

         FROM t_brand t JOIN t_product_type p
          on t.product_type_id =p.id
        <include refid="whereSql"/>
    </select>
</mapper>
